<div class="container">

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="text-center" style="font-size: 48pt; margin-top: 90px">Counterpoint</h1>
        <p class="lead text-center">Time tracking made easy</p>
      </div>

    </div>
  </div>

   <div class="row">
      <div class="col-lg-12">
        <h2>Simple pricing. No hidden costs.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title text-center" style="font-size: 18pt">Free <br/><span class="badge">Try before you buy</span></h3>
            </div>
            <div class="panel-body">
              <ul>
                <li>Up to 10 log entries per day</li>
                <li>Summary view</li>
                <br/>
                <br/>
                <br/>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title text-center" style="font-size: 18pt">$5/mo. <br/><span class="badge">For individuals</span></h3>
            </div>
            <div class="panel-body">
              <ul>
                <li>Up to 1000 log entries per day</li>
                <li>Summary view</li>
                <li>Log history</li>
                <br/>
                <br/>
              </ul>
            </div>
          </div>


        </div>
      </div>
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title text-center" style="font-size: 18pt">$10/user/mo. <br/><span class="badge">For teams</span></h3>
            </div>
            <div class="panel-body">
              <ul>
                <li>Unlimited log entries</li>
                <li>Team manager tools</li>
                <li>Summary view</li>
                <li>Log history</li>
                <li>Email reports</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  <footer>
    <div class="row">
      <div class="col-lg-12">

        <p>Made by Chiang Fong and KennyL.</p>
        <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>
        <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>

      </div>
    </div>

  </footer>


</div>


<!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../assets/js/bootswatch.js"></script>-->
