<div class="container">

  <div class="page-header" id="banner">
    <div class="row" style="margin: 80px 0">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="<%= asset_path("stopwatch.png") %>" class="lead center-block" style="width: 15%; height:15%; margin-top: 90px"/>
        <h1 class="text-center" style="font-size: 48pt; margin-top: 20px"><strong>Counterpoint</strong></h1>
        <p class="lead text-center">Time tracking made easy</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="well well-lg">
        <h2>What have I done today?</h2>
          <h4 style="margin: 25px 0; line-height: 150%">Counterpoint takes one of the greatest mysteries of life and approaches it in a simple yet innovative way. <img src="<%= asset_path("chart.png") %>" class="pull-right" style="width: 10%; height: 10%; bottom: 40px; right: 25px; position: relative" /></h4>

          <h4 style="width:80%; line-height: 150%">Give yourself a chance to metacognate on how effective your day has been. Spot patterns in time usage and be in control.</h4>
          
    </div>
  </div>

  <div class="row" style="margin-top: 40px">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="well">
        <div class="icon text-center">
          <span class="glyphicon glyphicon-envelope" style="font-size: 48px"></span>
          <h3>Seamless email integration</h3>
          <p>Receive email reminders to log your day's activities, reply to log them</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="well">
        <div class="icon text-center">
          <span class="glyphicon glyphicon-list" style="font-size: 48px"></span>
          <h3>Activity history</h3>
          <p>See a summary of your activities by day, week or month</3>
        </div>

      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="well">
        <div class="icon text-center">
          <span class="glyphicon glyphicon-user" style="font-size: 48px"></span>
          <h3>Team management tools</h3>
          <p>Team managers can easily keep track of and receive compiled digests of team activities</3>
        </div>
      </div>
    </div>
  </div>

   <div class="row">
      <div class="col-lg-12">
        <h2 style="margin: 30px 0">Simple pricing. No hidden costs.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title text-center" style="font-size: 18pt">Free <br/><span class="badge">Try before you buy</span></h3>
            </div>
            <div class="panel-body">
              <ul>
                <li>Up to 10 log entries per day</li>
                <li>Summary view</li>
                <br/>
                <br/>
                <br/>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title text-center" style="font-size: 18pt">$5/mo. <br/><span class="badge">For individuals</span></h3>
            </div>
            <div class="panel-body">
              <ul>
                <li>Up to 1000 log entries per day</li>
                <li>Summary view</li>
                <li>Log history</li>
                <br/>
                <br/>
              </ul>
            </div>
          </div>


        </div>
      </div>
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title text-center" style="font-size: 18pt">$10/user/mo. <br/><span class="badge">For teams</span></h3>
            </div>
            <div class="panel-body">
              <ul>
                <li>Unlimited log entries</li>
                <li>Team manager tools</li>
                <li>Summary view</li>
                <li>Log history</li>
                <li>Email reports</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  <footer>
    <div class="row">
      <div class="col-lg-12">

        <p>Made by Chiang Fong and KennyL.</p>
        <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>
        <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>

      </div>
    </div>

  </footer>


</div>


<!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../assets/js/bootswatch.js"></script>-->
